.navbar {
    background-color: #fff;
    position: relative;
    z-index: 1;

    .navbar_icons {
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    }

    .dropdown-container {
        z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
        position: relative;
        display: inline-block;
    }

    /* Style for the dropdown content (hidden by default) */
    .dropdown {
        position: relative;

        &:hover {
            cursor: pointer;

            &>.dropdown_content {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: white;
                top: 90%;
                z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
                right: 0;
                width: fit-content;

                &.right {
                    left: 100%;
                    top: 0;
                    right: inherit;
                }

                a {
                    &:hover {
                        background-color: #ec671b22;
                    }

                    padding: 1em;
                    white-space: nowrap;
                }
            }
        }

        &>.dropdown_content {
            display: none;
        }
    }

    .account-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            i {
                color: #fff;
            }
        }
    }
}

.logo {
    width: 121px;
    height: 48px;
}

@media (min-width: 768px) {
    .navbar {
        .account-mobile {
            display: none;
        }
    }
}

@media (min-width: 1100px) {
    .no_scrolled {
        .navbar {
            position: fixed !important;
        }
    }

    .btn-account {
        margin-left: 10px;
    }

    .container-fluid {
        padding: 0 80px !important;
    }

    .navbar_icons {
        right: 80px !important;
    }
}