.sell_your_car_page {
    section.section_1 {
        .contact_fixed {
            position: absolute;
            right: 0;
            top: 37%;
            height: fit-content;
            transform: translateX(40%) rotate(90deg);
        }
    }

    @media screen and (min-width: 768px) {
        .img_section_1 {
            position: absolute;
            right: -2em;
            top: 0;
            height: 100%;
            object-fit: cover;
        }

        .banner_background {
            height: auto;
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .img_banner_1 {
            display: none;
        }

        .banner_background{
            flex: 1;
            height: 8vh;
        }
    }

    .banner_background {
        background-color: #EC671B;
    }

    .banner_section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
    }

    .banner_content {
        @extend .banner_section;
        color: white;
        height: 100%;
        font-size: 1.2rem;
    }

    section.banner_section{
        div.banner_content{
            p.banner_text{
                margin-bottom: 0;
            }
        }
    }

    section.sell_section {

        position: relative;

        div.image_decoration{
            height: auto;
            width: 100%;
            margin-bottom: 1rem;
    
            @media screen and (min-width: 576px) {
                
                img.img_decoration_md{
                    display: block;
                    width: 100%;
                }
    
                img.img_decoration_sm{
                    display: none;
                }
    
            }
    
            @media screen and (max-width: 576px) {
    
                img.img_decoration_md{
                    display: none;
                }
    
                img.img_decoration_sm{
                    display: block;
                    width: 100%;
                }
            }
        }

        div.sell_car_container{
            background-color: var(--color-dark-gray);
            display: flex;
            flex-direction: row;

            div.sell_car_description_container{
                padding: 6% 25% 6% 5%;
                color: white;

                div.sell_title_container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 1rem;
                }
                
                h1.sell_car_title{
                    font-weight: 700;
                }

                h1.sell_car_subtitle{
                    font-weight: 400;
                    font-style: italic;
                }

                div.sell_buttons{
                    button.btn_orange{
                        margin-right: 1rem;
                    }
                }
            }
        }

        img.lines_sell{
            position: absolute;
            right: 0;
            top: 12%;
            z-index: 2;
            width: 9%;
            height: 50%;
        }
    }
}