.sell_your_car_page {
    section.section_1 {
        .contact_fixed {
            position: absolute;
            right: 0;
            top: 37%;
            height: fit-content;
            transform: translateX(40%) rotate(90deg);
        }
    }

    @media screen and (min-width: 768px) {
        .img_section_1 {
            position: absolute;
            right: -2em;
            top: 0;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner_section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
    }

    .banner_content {
        @extend .banner_section;
        color: white;
        height: 100%;
    }

    section.banner_section{
        div.banner_content{
            p.banner_text{
                margin-bottom: 0;
            }
        }
    }

    .img_banner_1
    .img_banner_2 {
        max-width: 100%;
        height: auto;
    }
    
}